.city__selector__container {
  // border: 1px solid red;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.city__selector__image__wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 180px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
    filter: grayscale(100%);

    &:hover {
      -webkit-filter: grayscale(0);
      filter: none;
      transform: scale(1.1);
    }

    @media screen and (max-width: 500px) {
      width: 75px;
    }
  }

  .active {
    -webkit-filter: grayscale(0);
    filter: none;
  }

  p {
    margin-top: 1rem;
    font-weight: bold;
  }
}
