.chart__icons__container {
  display: flex;
}

.chart__icon {
  font-size: 2rem;
  margin-left: 1rem;
  cursor: pointer;
  color: rgb(180, 173, 173);
}

.horizontal {
  transform: rotate(90deg);
}

.active {
  color: blue;
}
