.loading__spinner__wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  // background-color: black;
}

.loading__spinner {
  // width: 500px;
  @media screen and (max-width: 550px) {
    width: 250px;
  }
}
