.container {
  // border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  background-color: lightyellow;
}

.main__chart__container {
  // border: 1px solid blue;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main__chart__wrapper {
  // border: 1px solid red;
  padding: 2rem 1rem 2rem 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__chart__title {
  color: blue;
  margin-bottom: 2rem;
}

.chart__styling {
  color: red;
}

.main__icons__wrapper {
  // border: 1px solid red;
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
